<table class="table table-condensed">
	<tr>
		<td class="col-xs-6">Serving Size:</td>
		<td class="col-xs-6"><%= food[:grams].round(2) %> g</td>
	</tr>
	<tr>
		<td>Calories:</td>
		<td><%= food[:calories].round(2) %> kcal</td>
	</tr>
	<tr>
		<td>Protein:</td>
		<td><%= food[:protein].round(2) %> g</td>
	</tr>
	<tr>
		<td>Carbs:</td>
		<td><%= food[:carbs].round(2) %> g</td>
	</tr>
	<tr>
		<td>Sugar:</td>
		<td><%= food[:sugar].round(2) %> g</td>
	</tr>
	<tr>
		<td>Fiber:</td>
		<td><%= food[:fiber].round(2) %> g</td>
	</tr>
	<tr>
		<td>Fat:</td>
		<td><%= food[:fat].round(2) %> g</td>
	</tr>
	<tr>
		<td>Saturated Fat:</td>
		<td><%= food[:sat_fat].round(2) %> g</td>
	</tr>
	<tr>
		<td>Monounsaturated Fat:</td>
		<td><%= food[:mono_fat].round(2) %> g</td>
	</tr>
	<tr>
		<td>Polyunsaturated Fat:</td>
		<td><%= food[:poly_fat].round(2) %> g</td>
	</tr>
	<tr>
		<td>Trans Fat:</td>
		<td><%= food[:trans_fat].round(2) %> g</td>
	</tr>
	<tr>
		<td>Cholesterol:</td>
		<td><%= food[:cholesterol].round(2) %> mg</td>
	</tr>

	<tr>
		<td>Vitamin A:</td>
		<td><%= food[:a].round(2) %> IU</td>
	</tr>
	<tr>
		<td>Vitamin B1:</td>
		<td><%= food[:b1].round(2) %> mg</td>
	</tr>
	<tr>
		<td>Vitamin B2:</td>
		<td><%= food[:b2].round(2) %> mg</td>
	</tr>
	<tr>
		<td>Vitamin B3:</td>
		<td><%= food[:b3].round(2) %> mg</td>
	</tr>
	<tr>
		<td>Vitamin B5:</td>
		<td><%= food[:b5].round(2) %> mg</td>
	</tr>
	<tr>
		<td>Vitamin B6:</td>
		<td><%= food[:b6].round(2) %> mg</td>
	</tr>
	<tr>
		<td>Vitamin B12:</td>
		<td><%= food[:b12].round(2) %> μg</td>
	</tr>
	<tr>
		<td>Vitamin C:</td>
		<td><%= food[:c].round(2) %> mg</td>
	</tr>
	<tr>
		<td>Vitamin D:</td>
		<td><%= food[:d].round(2) %> IU</td>
	</tr>
	<tr>
		<td>Vitamin E:</td>
		<td><%= food[:e].round(2) %> mg</td>
	</tr>
	<tr>
		<td>Vitamin K:</td>
		<td><%= food[:k].round(2) %> μg</td>
	</tr>
	<tr>
		<td>Folate:</td>
		<td><%= food[:folate].round(2) %> μg</td>
	</tr>
	<tr>
		<td>Calcium:</td>
		<td><%= food[:calcium].round(2) %> mg</td>
	</tr>
	<tr>
		<td>Copper:</td>
		<td><%= food[:copper].round(2) %> mg</td>
	</tr>
	<tr>
		<td>Fluoride:</td>
		<td><%= food[:fluoride].round(2) %> μg</td>
	</tr>
	<tr>
		<td>Iron:</td>
		<td><%= food[:iron].round(2) %> mg</td>
	</tr>
	<tr>
		<td>Magnesium:</td>
		<td><%= food[:magnesium].round(2) %> mg</td>
	</tr>
	<tr>
		<td>Manganese:</td>
		<td><%= food[:manganese].round(2) %> mg</td>
	</tr>
	<tr>
		<td>Phosphorus:</td>
		<td><%= food[:phosphorus].round(2) %> mg</td>
	</tr>
	<tr>
		<td>Potassium:</td>
		<td><%= food[:potassium].round(2) %> mg</td>
	</tr>
	<tr>
		<td>Selenium:</td>
		<td><%= food[:selenium].round(2) %> μg</td>
	</tr>
	<tr>
		<td>Sodium:</td>
		<td><%= food[:sodium].round(2) %> mg</td>
	</tr>
	<tr>
		<td>Zinc:</td>
		<td><%= food[:zinc].round(2) %> mg</td>
	</tr>
</table>

