<h1 class="text-center"><%= @log.date.strftime("%A: %B %d, %Y") %></h1>
<table class="table">
	<tr>
		<th></th>
		<th></th>
		<th>Name</th>
		<th>Calories</th>
		<th>Serving Size (g)</th>
	</tr>
	<% @log.foods.each_with_index do |food, index| %>
		<tr>
			<td><%= link_to "", remove_food_path(food: food[:name]), remote: true, class: "glyphicon glyphicon-remove-circle"  %></td>
			<td><%= image_tag("#{food[:thumb]}", class: "food-list-icon") %></td>
			<td><%= food[:name] %></td>
			<td><%= render 'change_calories_form', index: index, food: food %></td>
			<td><%= render 'change_grams_form', index: index, food: food %></td>
		</tr>
	<% end %>
</table>