<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <head>
    <title>Nutrient Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Sunflower:300" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <!-- Navbar Start -->
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <a class="navbar-brand" href=<%= root_path %>>Nutrient Tracker</a>
        <div style="float: right">
          <% if user_signed_in? %>
            <div class="navbar-brand">
              <%= link_to '', destroy_user_session_path, method: :delete, class: "glyphicon glyphicon-log-out" %>
            </div>
          <% end %>
        </div>
      </div>
    </nav>
    <!-- Navbar End -->

    <div class="container">
      <%= yield %>
      <br>
    </div>
  </body>
</html>
